#title_heading {
    font-family: 'Dancing Script', cursive; 
    font-size: 28px; 
    color: #19395b;
    text-align: center; 
    margin: 10px 0; 
    text-shadow: 2px 2px 4px rgba(172, 205, 221, 0.2); 
    }
    
